@import "tailwindcss";

@media print {

  body {
    background: white !important;
  }

  .no-print {
    display: none !important;
  }

  .printable-section {
    display: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }

}