@import "tailwindcss";

@media print {

  body * {
    visibility: hidden;
  }

  #result-section,
  #result-section * {
    visibility: visible;
  }

  #payment-section,
  #payment-section * {
    visibility: visible;
  }

  #result-section,
  #payment-section {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

}